@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

:root{
    --c-red: red;
    --c-yellow: yellow;
    --c-white: white;
    --c-black: black;
    --c-grey: #afa9ac;
    --f-R: 'Khand';
}

.navbar-top__content-pic{
    width: 8px;
    height: 15px;
}

.navbar-top__content-link{
    padding-right: 5px;
}

.navbar-top__content-item{
    margin-top: 14px;
}

.navbar-top__content-link:first-of-type{
    padding-left: 15px;
}

.navbar-top__content-list{
    background-color: var(--c-black);
    margin-bottom: 0;
    width: 100%;
}

.navbar-top__content{
    justify-content: space-between;
}

.form__input{
    border-radius: 0;
    border: 1px solid var(--c-grey);
    margin-right: 0;
}

.navbar-top__content-desc{
    color: var(--c-black);
    font-family: var(--f-R);
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}

.navbar-top__content-desc span{
    color: var(--c-red);
}

.navbar-top__content-btn{
    color: var(--c-black);
    font-family: var(--f-R);
    font-size: 20px;
    font-weight: 700;
    margin-left: 30px;
    margin-top: 10px;
}

.navbar-top__content-btn:hover{
    text-decoration: underline;
}

.line{
    position: absolute;
    background-color: var(--c-grey);
    width: 100%;
    height: 1px;
    left: 0;
    top: 55px;
}

.nav-item{
    margin-right: 20px;
}

.navbar__content-logo{
    font-family: var(--f-R);
    font-size: 50px;
    font-weight: 700;
    color: var(--c-black);
}

.navbar-links{
    padding-left: 0;
}

.navbar__content{
    justify-content: space-between;
}

.navbar__content-link, .nav-link{
    font-family: var(--f-R);
    font-weight: 700;
    font-size: 20px;
    color: var(--c-black);
    margin-top: 30px;
}

.navbar__content-btn, .navbar__content-btn-korzina{
    font-family: var(--f-R);
    font-weight: 700;
    font-size: 20px;
    color: var(--c-black);
    margin-top: 30px;
    margin-left: 20px;
}

.navbar__content-btn{
    color: var(--c-white);
    padding: 16px 45px;
    background-color: var(--c-red);
    border-radius: 10px;
    margin-top: 15px;
}

.navbar__menu-logo, .navbar__menu-logo::after, .navbar__menu-logo::before{
    height: 3px;
    width: 55px;
    border-radius: 20px;
    background-color: var(--c-black);
    margin-left: 30px;
    display: flex;
    align-self: center;
}

.navbar__menu-logo::before, .navbar__menu-logo::after{
    width: 22.5px;
    content: '';
    position: absolute;
    top: 0;
}

.navbar__menu-logo::after{
    top: 23px;
    right: 1px;
}

.navbar__menu-logo::before{
    bottom: -25px;
    left: 259px;
}

.navbar__content-end{
    position: relative;
}







@media(max-width:1200px){
    .navbar__content-btn{
        padding: 16px 29px;
    }

    .navbar__menu-logo::before{
        left: 228px;
    }
}
@media(max-width:992px){

}